@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .confirmOverlayInput {
            width: 100%;
            height: 60px;
            border: none !important;
            border-bottom: 5px solid white !important;
            background: none;
            color: rgba(255, 255, 255, .8);
            text-align: center;
            font-size: 35px;
        }

            .confirmOverlayInput:active,
            .confirmOverlayInput:focus {
                outline: none;
            }

        .confirmOverlayButton {
            background: none;
            width: 200px;
            height: 80px;
            border: 5px solid white;
            font-size: 35px;
            color: rgba(255, 255, 255, .8)
        }

            .confirmOverlayButton:active {
                outline: none;
                background: rgba(255, 255, 255, .8);
                color: rgba(0, 0, 0, .8)
            }

            .confirmOverlayButton:focus {
                outline: none;
            }
    </style>
    <style>
        /* The container */
        .container-checkbox {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container-checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom checkbox */
            .container-checkbox .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
            }

            /* On mouse-over, add a grey background color */
            .container-checkbox:hover input ~ .checkmark {
                background-color: #eee;
            }

            /* When the checkbox is checked, add a blue background */
            .container-checkbox input:checked ~ .checkmark {
                background: rgb(244, 100, 37);
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .container-checkbox .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the checkmark when checked */
            .container-checkbox input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .container-checkbox .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 12px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
    </style>
}
<main class="app-content">
    <div style="background:rgba(255,255,255,.5);padding:15px;border-radius:5px">
        <div id="root">
        </div>
    </div>
</main>

@section scripts{
    <script>
        const complainData =  @Html.Raw(Json.Encode(ViewBag.ComplainData));
        const uploadFileUrl = '@Url.Action("UploadFile", "Complain")';
        const url = '@Url.Action("Update", "Complain")';
    </script>
    <script type="text/babel">
    const TrackingDetails = (props) => {
        return (
            <table>
                <tbody>
                    @*<tr>
                        <th>Agent Type</th>
                        <th>Created Time</th>
                        <th>Message</th>
                    </tr>*@
                    {
                        props.data.map((x, index) =>
                            <tr key={index}>
                                 <td style={{width:200}}>
        <img src={'../images/caicon.png'} style={{height:30,width:30}} /><br/>{x.Name}
        </td>
                                 @*<td>{x.Branch}</td>*@

                                <td style={{textAlign:'left'}}> {x.MessageType == 'pdf' ? <div><a href={'../Documents/Complain/'+x.Message} target='_blank' style={{color:'blue'}}>{x.Message} </a>has been Uploaded</div> : x.Message}<br/>{x.CreatedTime}</td>
                            </tr>
                        )
                    }
                </tbody>
            </table>
        )
    }

    const CNInfo = (props) => {
        return (
            <div>
                <div>
                    <h3>COMPLAIN INFO</h3>
                </div>
        <div  className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Request Number</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.Ticket_Id}</b></div>
         </div>
         <div  className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Shipment Status</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b> {props.data.ConsignmentStatus}</b></div>
        </div>
        <div  className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Order Ref No</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.OrderRefNo}</b></div>
        </div>
        <div  className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Consignment Number</b></div>
                <div className="col-md-6 col-sm-12 p-2">
                  <b>
                   <a href={'/Files/ManageConsignmentTracking.aspx?d='+props.data.ConsignmentNum} target='_blank' style={{color:'blue', textDecoration: 'underline'}}> {props.data.ConsignmentNum} </a>
                  </b>
                </div>
        </div>
        <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Request Nature</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.RequestNature}</b></div>
        </div>
        <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Request Type</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.RequestType}</b></div>
        </div>
        <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Escalation Level</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.EscalationLevel}</b></div>
        </div>
        <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Status</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.ticketStatus}</b></div>
        </div>
        <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Launch By</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.Launch_By}</b></div>
        </div>
         <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Launch Date</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.CreatedOn}</b></div>
         </div>      
         <div className="row">
                <div className="col-md-6 col-sm-12 p-2"><b>Consignee Address</b></div>
                <div className="col-md-6 col-sm-12 p-2"><b>{props.data.Address}</b></div>
         </div>
        </div>
        )
    }

    const App = () => {
        const fileRef = React.useRef(null);
        const [formData, setFormData] = React.useState({
            Remarks: '',
            FinalResponse: false
        });
        const [loading, setLoading] = React.useState(false);
        const [data, setData] = React.useState(null);
        const [cnInfo, setCnInfo] = React.useState(complainData.data);
        const [isOpen, setIsOpen] = React.useState(complainData.Status);
        const [trackingDetail, setTrackingDetail] = React.useState(complainData.details);

        const upload = () => {
            if (fileRef.current.files.length > 0) {
                setLoading(true);
                const f = fileRef.current;
                var data = new FormData();
                data.append('file', f.files[0]);
                var detailurl = new URL(window.location.href);
                var CNs = detailurl.searchParams.get("CN");
                var RId = detailurl.searchParams.get("ReqId");

                fetch(uploadFileUrl+ '?CN=' + CNs+ "&ReqId="+RId, {
                    method: 'POST',
                    body: data
                }).then(
                    function (response) {
                        f.value = '';
                        f.labels[0].innerText = '';
                        f.labels[0].innerHtml = '';
                        setLoading(false);
                        if (response.status !== 200) {
                            console.log('Looks like there was a problem. Status Code: ' + response.status);
                            return;
                        }
                        response.json().then(function (rs) {
                            if (rs.sts == 1) {
                             alert('File Uploaded Successfully');
                                setFormData(
                                {
                                    Remarks: '',
                                    FinalResponse: false
                                });
                            setTrackingDetail(rs.details);
                        } else {
                            setTrackingDetail(null);
                            setFormData(
                                {
                                    Remarks: '',
                                    FinalResponse: false
                                });
                            alert(rs.msg);
                            }
                        });
                    }
                ).catch(function (err) {
                    setLoading(false);
                    console.log('Fetch Error :-S', err);
                });
            } else {
                alert('Select File');
            }
        }

        const UpdateRemarks = () => {
            setLoading(true);
            var detailurl = new URL(window.location.href);
            var CN = detailurl.searchParams.get("CN");
            var RId = detailurl.searchParams.get("ReqId");
            var Remarks = formData.Remarks;
            var FinalResponse = formData.FinalResponse;

            fetch(`${url}?CN=${CN}&ReqId=${RId}&Remarks=${Remarks}&FinalResponse=${FinalResponse}`).then(
                function (response) {
                    setLoading(false);
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' + response.status);
                        return;
                    }
                    response.json().then(function (rs) {
                        if (rs.sts == 1) {
                            alert('Remarks Updated');
                            setFormData(
                                {
                                    Remarks: '',
                                    FinalResponse: false
                                });
                            setTrackingDetail(rs.details);
                        } else {
                            setFormData(
                                {
                                    Remarks: '',
                                    FinalResponse: false
                                });
                            setTrackingDetail(rs.details);
                            alert('No data found');
                        }
                    });
                }
            ).catch(function (err) {
                setLoading(false);
                console.log('Fetch Error :-S', err);
            });
        }

        const CheckFinalResponse = () => {
            setLoading(true);
            var detailurl = new URL(window.location.href);
            var RId = detailurl.searchParams.get("ReqId");

            fetch(`${url}?TicketId=${RId}&FinalResponse=${FinalResponse}`).then(
                function (response) {
                    setLoading(false);
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' + response.status);
                        return;
                    }
                    response.json().then(function (rs) {
                        if (rs.sts == 1) {
                            setFormData(
                                {
                                    Remarks: '',
                                    FinalResponse: false
                                });
                            setTrackingDetail(rs.details);
                        }

                    });
                }
            ).catch(function (err) {
                setLoading(false);
                console.log('Fetch Error :-S', err);
            });
        }

        const changeFormData = (key, val) => {
                let x = { ...formData, [key]: val };
                setFormData(x);
        }

        const overlayStyle = {
            width: '100vw',
            height: '100vh',
            position: 'fixed',
            top: 0,
            left: 0,
            zIndex: 10000,
            background: 'rgba(0,0,0,.8)',
            display: 'flex',
            justifyContent: 'center',
            alignItems: 'center',
            color: 'rgba(255,255,255,.8)'
        }

        return (
            <div style={{ position: 'relative' }}>
                {
                    loading ? <div style={overlayStyle}>
                        <h2>Please Wait...</h2>
                    </div> : ''
                }
                <React.Fragment>

                <div id="loader"></div>

                <div className="row p-4">
                   <div className="col-4 text-center border">
                    {
                        cnInfo ? <CNInfo data={cnInfo} /> : ''
                    }
                   </div>
                   <div className="col-8 text-center border" style={{height:500,overflowY: 'scroll',backgroundColor:'whitesmoke'}}>
                    <h3>Complain Chat History</h3>
                    {
                        trackingDetail ? <TrackingDetails data={trackingDetail} /> : ''
                    }
                    </div>
                </div>
        { isOpen != 'Close' ?
                <div className="row p-2">
                    <div className="col-8">
                        <label>Remarks</label>
                        <textarea className="form-control" disabled={cnInfo.FinalResponse} value={formData.Remarks} onChange={(x) => changeFormData('Remarks', x.target.value)}></textarea>
                    </div>
                    <div className="col-2 p-2">
                            <div className="custom-file">
                                <input type="file" disabled={cnInfo.FinalResponse} className="custom-file-input" id="customFile" ref={fileRef} accept="application/pdf,application/msword,
                                    application/vnd.openxmlformats-officedocument.wordprocessingml.document,.png, .gif, .jpeg,.msg"/>
                                <label className="custom-file-label" htmlFor="customFile">Choose file</label>
                            </div>
                        <br/>
                        <br/>
                        <label class="container-checkbox">Final Response
                        <input type="checkbox" value={formData.FinalResponse} disabled={cnInfo.FinalResponse} checked={formData.FinalResponse} name="select" onChange={(x) => changeFormData('FinalResponse', x.target.checked)} />
                                      <span class="checkmark"></span>
                        </label>
                    </div>
                    <div className="col-2 p-2 text-center">
                          <button type="button" className="btn btn-primary" disabled={cnInfo.FinalResponse} onClick={upload}>Upload</button>
                    <br/>
                        <button type="button" className="btn btn-primary" disabled={cnInfo.FinalResponse}  style={{ marginTop: 25, background: '#f46425', border: '#a53200' }} onClick={(x) => {
                                if (formData.Remarks !='') {
                                    UpdateRemarks(formData);
                                } else
                                {
                                    alert('Kindly Fill Remarks !!');
                                }
                            }}>Save
                        </button>

                    </div>
                </div> : ''
        }
                </React.Fragment>
            </div>
        )
    }

    ReactDOM.render(<App />,
        document.querySelector('#root')
    )
    </script>
}